@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 250, 251, 252;
  --background-end-rgb: 255, 255, 255;
}

.yarl__thumbnails_thumbnail {
  --yarl__color_button: hsla(0, 0%, 100%, 0.4);
  --yarl__thumbnails_thumbnail_active_border_color: hsla(0, 0%, 100%, 0.7);
}

.yarl__toolbar {
  --yarl__icon_size: 1.616rem;
}

/* If the user prefers dark mode, 
we still enforce color-scheme: light, despite the user preference */
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: light;
  }
}

/* If the user prefers light mode, 
we of course apply color-scheme: light, as usual */
@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}

@layer base {
  html {
    --scroll-behavior: smooth !important;
    scroll-behavior: smooth !important;
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
      )
      rgb(var(--background-start-rgb)) no-repeat;
  }

  html,
  body {
    font-family: -apple-system, Roboto, Helvetica Neue, sans-serif;
    -webkit-font-smoothing: antialiased;
  }
}

@layer utilities {
  .icon {
    @apply inline-flex justify-center items-center;
  }

  .material-symbols {
    font-family: var(--font-material-symbols);
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-feature-settings: "liga";
  }
}

@layer components {
  .wrap {
    position: absolute;
    left: 0;
    bottom: 40px;
    width: 288px;
    height: 132px;
    margin-left: -144px;
    text-align: left;
    overflow: hidden;
    font-size: 12px;
    line-height: 1.5;
  }
  .wrap * {
    padding: 0;
    margin: 0;
  }
  .wrap .info {
    width: 286px;
    height: 120px;
    border-radius: 5px;
    border-bottom: 2px solid #ccc;
    border-right: 1px solid #ccc;
    overflow: hidden;
    background: #fff;
  }
  .wrap .info:nth-child(1) {
    border: 0;
    box-shadow: 0px 1px 2px #888;
  }
  .info .title {
    padding: 5px 0 0 10px;
    height: 30px;
    background: #eee;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
    font-weight: bold;
  }
  .info .close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #888;
    width: 17px;
    height: 17px;
    background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png");
  }
  .info .close:hover {
    cursor: pointer;
  }
  .info .body {
    position: relative;
    overflow: hidden;
  }
  .info .desc {
    position: relative;
    margin: 13px 0 0 90px;
    height: 75px;
  }
  .desc .ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .desc .jibun {
    font-size: 11px;
    color: #888;
    margin-top: -2px;
  }
  .info .img {
    position: absolute;
    top: 6px;
    left: 5px;
    width: 73px;
    height: 71px;
    border: 1px solid #ddd;
    color: #888;
    overflow: hidden;
  }
  .info:after {
    content: "";
    position: absolute;
    margin-left: -12px;
    left: 50%;
    bottom: 0;
    width: 22px;
    height: 12px;
    background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png");
  }
  .info .link {
    color: #5085bb;
  }
}

@layer components {
  /* https://stackoverflow.com/questions/12906789/preventing-an-image-from-being-draggable-or-selectable-without-using-js */
  .unselectable {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
}

@layer components {
  .main-heros-profile-container {
    @apply container;
  }

  .heros-profile {
    @apply px-4 flex items-center justify-center w-full h-full;
  }

  .hero-profile {
    @apply m-auto flex flex-col items-center;
  }

  .hero-profile > .next-image-container {
    @apply w-36 h-36 relative;
  }

  .hero-profile > .next-image-container > img {
    @apply rounded-full;
  }

  .hero-profile > h3 {
    @apply mt-2;
  }

  .hero-profile > h4 {
    @apply text-xs font-light opacity-80;
  }
}

@layer components {
  .main-hero-name {
    @apply font-bold;
  }

  .hero-parent-name {
    @apply font-medium;
  }

  .invite-letter {
    @apply mx-auto;
  }

  .invite-letter > h1 {
    @apply font-bold text-xl text-indigo-950;
  }

  .invite-letter > h1[data-category] {
    @apply mt-1 text-3xl font-light;
  }

  .invite-letter > p {
    @apply my-8 flex flex-col gap-0.5 text-zinc-950 opacity-80;
  }

  .invite-letter > p > span {
    @apply w-full;
  }

  .invite-letter > h2 {
    @apply text-zinc-950 opacity-90;
  }

  .invite-letter > h2 > .hero-parent-name {
    @apply mr-2;
  }

  .invite-letter > h2 > .hero-relationship {
    @apply mx-2;
  }
}

@layer components {
  .place-section {
    @apply px-3 py-4;
  }
}

@layer components {
  button.show-account-detail {
    @apply text-sm p-1 border text-black/70 border-black/70 rounded;
  }
}

@layer components {
  @media (min-aspect-ratio: 18/39) {
    #intro-a-mask > div > div {
      padding-left: 2rem;
      padding-right: 2rem;
      height: 100%;
    }
  }

  @media (min-aspect-ratio: 14/25) {
    #intro-a-mask > div > div {
      padding-left: 3.5rem;
      padding-right: 3.5rem;
    }
  }

  @media (min-aspect-ratio: 5/8) {
    #intro-a-mask > div > div {
      padding-left: 4.5rem;
      padding-right: 4.5rem;
    }
  }

  @media (min-aspect-ratio: 2/3) {
    #intro-a-mask > div > div {
      padding-left: 5.5rem;
      padding-right: 5.5rem;
    }
  }

  @media (min-aspect-ratio: 11/15) {
    #intro-a-mask > div > div {
      padding-left: 6.5rem;
      padding-right: 6.5rem;
    }
  }  

  #intro-a-mask {
    mask: linear-gradient(rgba(0, 0, 0, 1) 0 70%, transparent 99% 100%);
    -webkit-mask: linear-gradient(rgba(0, 0, 0, 1) 0 70%, transparent 99% 100%);
    mask-position: bottom;
    -webkit-mask-position: bottom;
  }
  #intro-a-mask-landscape {
    mask: linear-gradient(rgba(0, 0, 0, 1) 0 90%, transparent 99% 100%);
    -webkit-mask: linear-gradient(rgba(0, 0, 0, 1) 0 90%, transparent 99% 100%);
    mask-position: bottom;
    -webkit-mask-position: bottom;
  }
}

@layer components {
  .h-snap-gallery > ul {
    /* prevent accidentally going back or triggering other swipe events */
    /* overscroll-behavior: contain; */

    /* momentum scroll on iOS */
    -webkit-overflow-scrolling: touch;
 
    /* disbable vertical scroll for touch */
    /* touch-action: pan-x; */

    /* hide scroll bar */
    scrollbar-width: none;
    -ms-overflow-style: none;

    /* scroll-padding-left: 4rem;
    scroll-padding-inline-start: 4rem; */
    scroll-snap-type: x mandatory;
    scroll-snap-align: center;
    scroll-snap-stop: always;
  }
  .h-snap-gallery > ul::-webkit-scrollbar { display: none; }

  .h-snap-gallery > ul > li {
      /* scroll snapping */
  scroll-snap-align: center;

  /* maybe this will work in the future 🤷‍♂️ */
  scroll-snap-stop: always;
  }
}