@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 250, 251, 252;
  --background-end-rgb: 255, 255, 255;
}

.yarl__thumbnails_thumbnail {
  --yarl__color_button: hsla(0, 0%, 100%, 0.4);
  --yarl__thumbnails_thumbnail_active_border_color: hsla(0, 0%, 100%, 0.7);
}

.yarl__toolbar {
  --yarl__icon_size: 1.616rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  html {
    --scroll-behavior: smooth !important;
    scroll-behavior: smooth !important;
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
      )
      rgb(var(--background-start-rgb)) no-repeat;
  }

  html,
  body {
    font-family: -apple-system, Roboto, Helvetica Neue, sans-serif;
    -webkit-font-smoothing: antialiased;
  }
}

@layer utilities {
  .icon {
    @apply inline-flex justify-center items-center;
  }

  .material-symbols {
    font-family: var(--font-material-symbols);
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-feature-settings: "liga";
  }
}

@layer components {
  .wrap {
    position: absolute;
    left: 0;
    bottom: 40px;
    width: 288px;
    height: 132px;
    margin-left: -144px;
    text-align: left;
    overflow: hidden;
    font-size: 12px;
    line-height: 1.5;
  }
  .wrap * {
    padding: 0;
    margin: 0;
  }
  .wrap .info {
    width: 286px;
    height: 120px;
    border-radius: 5px;
    border-bottom: 2px solid #ccc;
    border-right: 1px solid #ccc;
    overflow: hidden;
    background: #fff;
  }
  .wrap .info:nth-child(1) {
    border: 0;
    box-shadow: 0px 1px 2px #888;
  }
  .info .title {
    padding: 5px 0 0 10px;
    height: 30px;
    background: #eee;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
    font-weight: bold;
  }
  .info .close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #888;
    width: 17px;
    height: 17px;
    background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png");
  }
  .info .close:hover {
    cursor: pointer;
  }
  .info .body {
    position: relative;
    overflow: hidden;
  }
  .info .desc {
    position: relative;
    margin: 13px 0 0 90px;
    height: 75px;
  }
  .desc .ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .desc .jibun {
    font-size: 11px;
    color: #888;
    margin-top: -2px;
  }
  .info .img {
    position: absolute;
    top: 6px;
    left: 5px;
    width: 73px;
    height: 71px;
    border: 1px solid #ddd;
    color: #888;
    overflow: hidden;
  }
  .info:after {
    content: "";
    position: absolute;
    margin-left: -12px;
    left: 50%;
    bottom: 0;
    width: 22px;
    height: 12px;
    background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png");
  }
  .info .link {
    color: #5085bb;
  }
}

@layer components {
  /* https://stackoverflow.com/questions/12906789/preventing-an-image-from-being-draggable-or-selectable-without-using-js */
  .unselectable {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
}

@layer components {
  .main-heros-profile-container {
    @apply container;
  }

  .heros-profile {
    @apply px-4 flex items-center justify-center w-full h-full;
  }

  .hero-profile {
    @apply m-auto flex flex-col items-center;
  }

  .hero-profile > .next-image-container {
    @apply w-40 h-40 relative;
  }

  .hero-profile > .next-image-container > img {
    @apply rounded-full;
  }

  .hero-profile > h3 {
    @apply mt-2;
  }

  .hero-profile > h4 {
    @apply text-xs font-light opacity-80;
  }
}

@layer components {
  .main-hero-name {
    @apply font-bold;
  }

  .hero-parent-name {
    @apply font-medium;
  }

  .invite-letter {
    @apply mx-auto;
  }

  .invite-letter > h1 {
    @apply font-bold text-xl text-indigo-950;
  }

  .invite-letter > h1[data-category] {
    @apply mt-1 text-3xl font-light;
  }

  .invite-letter > p {
    @apply my-8 flex flex-col gap-0.5 opacity-80;
  }

  .invite-letter > p > span {
    @apply w-full;
  }

  .invite-letter > h2 {
    @apply opacity-90;
  }

  .invite-letter > h2 > .hero-parent-name {
    @apply mr-2;
  }

  .invite-letter > h2 > .hero-relationship {
    @apply mx-2;
  }
}

@layer components {
  .place-section {
    @apply px-3 py-4;
  }
}

@layer components {
  button.show-account-detail {
    @apply text-sm p-1 border text-black/70 border-black/70 rounded
  }
}
